  <div id="content" class="full-centered">
    <ul class="steps">
      <li>
        <p class="code">
          $ heroku addons:add trackman
        </p>
      </li>
      <li>
        <p class="code">
          gem 'trackman'
        </p>
      </li>
      <li>
        <p class="code">
          $ rake trackman:setup
        </p>
      </li>
    </ul> 
  </div>
  
  <div id="footer">
    TrackMan reporting for duty sir! </br></br>
    Edit <b>public/503.html</b> and/or <b>public/503-error.html</b> as you please, in the comfort of your project.
  </div>
